body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #f4cccc;
    padding: 20px;
    text-align: center;
    color: white;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

#resume {
    flex: 1;
    padding: 20px;
}

#projects {
    flex: 1;
    padding: 20px;
    background-color: #f4f4f4;
}

h1, h2, h3, h4 {
    margin-bottom: 10px;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.project {
    margin-bottom: 20px;
}
